@import 'vars.scss';
.content {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 170%;
	margin: 35px auto;
	font-size: 16px;
	letter-spacing: normal;
	text-align: left;
	color: #222222;
	flex-flow: row wrap;
	@media ($S) {
		font-size: 14px;
		&.page {
			margin-top: 120px;
		}
	}

	.image {
		width: 100%;
		margin: 20px 0;
		@media ($S) {
			width: calc(100% + 40px);
			margin: 0 -20px;
		}
		img {
			width: 100%;
			max-width: 100%;
		}
	}
	&.expert {
		.image,
		h1 {
			margin: 20px auto 2px 0;
		}
	}
	.image_expert {
		display: flex;
		justify-content: center;
		align-items: center;
		width: fit-content;
		max-width: 160px;
		max-height: 160px;
		border-radius: 50%;
		overflow: hidden;
		img {
			max-width: 110%;
		}
	}
	h1 {
		line-height: 42px;
		padding: 15px 0;
		margin: 0;
		font-size: 36px;
		font-weight: 500;
		color: #222222;
	}
	.slogan {
		width: 100%;
		line-height: 140%;
		margin: 0px 0 40px;
		font-size: 18px;
		color: #9f9f9f;
	}
	.text {
		line-height: 26px;

		img {
			max-width: 100%;
			height: auto;
		}
	}
	.callus {
		width: 212px;
	}
	.list {
		list-style: none;
		li:before {
			position: absolute;
			left: 40px;
			content: "•";
			color: red;
			font-size: 200%;
		}
	}
	&.partners {
		.item {
			.title {
				display: flex;
				align-items: center;
				padding-left: 20px;
			}
		}
	}
}
