@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@import './bootsrap/bootstrap.scss';
@import 'header.scss';
@import 'slider.scss';
@import 'content.scss';
@import 'search.scss';
@import 'news.scss';
@import 'pagination.scss';
@import 'quote.scss';
@import 'cards.scss';
@import 'footer.scss';
@import 'buttons.scss';

* {
	box-sizing: inherit;
}
#app {
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	box-sizing: content-box;
	@media ($S) {
		overflow: hidden;
	}
}

.container-fluid {
	width: 100%;
	max-width: 100vw;
	padding: 0;
	box-sizing: border-box;
}

.flex1 {
	display: flex;
	flex: 1 0 auto;
	align-items: center;
	flex-flow: column wrap;
}

@import 'modal.scss'