.modal-dialog {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: end;
	min-width: 100vw;
	height: 100vh;
	line-height: 163%;
	margin: 0 10px;
	margin: auto;
	color: #222222;
	overflow: auto;

	.modal-content {
		font-family: 'Roboto', sans-serif;
		width: 100%;
		max-width: 400px;
		padding: 35px 0px;
		margin: 10vh 0;
		box-shadow: 0 10px 50px 5px rgba(17, 17, 17, 0.4);
		.modal-header {
			padding: 0 25px;
			border: none;
			display: flex;
			.modal-title {
				font-size: 16px;
				font-weight: 500;
				color: #222;
			}
		}

		.modal-footer {
			padding: 0 20px;
			margin-top: 10px;
			border: none;
		}

		.modal-body {
			padding: 0 25px;

			.modal-call {
				.title {
					margin-top: 30px;
				}
				.number {
					height: 25px;
					font-size: 24px;
					font-weight: bold;
					margin: 15px 0;
				}
				.grey {
					color: #9f9f9f;
					margin-top: 23px;
				}
			}

			.form-group {
				display: flex;
				margin: 9px 0;
				flex-flow: column wrap;
				font-size: 14px;
				color: #9f9f9f;
				input,
				select,
				textarea {
					transition: .3s ease;
					outline: none;
					font-weight: 400;

					&.error {
						border: solid 1px #f03333;
					}
					&:focus {
						&::placeholder {
							color: transparent;
						}
					}
					&::-webkit-autofill {
						background-color: #e5e5e5;
					}
					&::placeholder {
						color: #9f9f9f !important;
					}
				}
				label {
					display: block;
					font-size: 16px;
					padding-bottom: 2px;
					padding-top: 5px;
					color: #222;
				}
				input {
					display: flex;
					flex: 1;
					line-height: 129%;
					padding: 0px 10px;
					height: 40px;
					border: solid 1px #f2f2f2;
				}
				select {
					line-height: 129%;
					padding: 10px;
					height: 40px;
					background-color: #f2f2f2;
					border: 0;
					color: #9f9f9f;
					&:hover {
						cursor: pointer;
					}
					&:focus,
					&:hover {
						background-color: #e5e5e5;
					}
					option {
						line-height: 129%;
						background-color: #e5e5e5;
						font-size: 14px;
						color: #222222;
					}
				}

				textarea {
					min-height: 80px;
					line-height: 129%;
					padding: 15px 10px;
					border: solid 1px #f2f2f2;
					resize: none;
				}
			}
		}
		button.close {
			padding: 0;
			border: 0;
			background: none;
			color: #f03333;
			font-size: 32px;
			cursor: pointer;
			:hover {
				color: #222;
			}
		}

		.send_button {
			width: 200px;
			height: 50px;
			background-color: #f03333;
			border: 0;
			color: #fff;
			font-size: 14px;
			cursor: pointer;
			@media ($S) {
				margin: 20px auto;
			}
		}
	}
}
