@import 'vars.scss';
.quote {
	display: flex;
	flex: 1 1 auto;
	line-height: 129%;
	padding: 27px;
	margin: 40px 0;
	font-size: 20px;
	color: #9f9f9f;
	background-color: #ffffff;
	box-shadow: 0 0 20px 5px rgba(236, 236, 236, 0.5);
	border: none;
	@media ($S) {
		font-size: 16px;
	}
	.header {
		padding: 10px 0;
		font-size: 16px;
		font-weight: 500;
		color: #f03333;
	}
	p {
		line-height: 150%;
		font-weight: 500;
		color: #222222;
		margin:0;
	}
	.footer {
		margin: 35px 0 15px;
		.name {
			line-height: 177%;
			font-size: 13px;
			color: #222222;
		}
		.degree {
			line-height: 191%;
			font-size: 11px;
			color: #9f9f9f;
		}
	}
}
