@import 'vars.scss';
.slider {
	width: 100%;
	padding: 0;
	overflow: hidden;
	margin-top: 40px;
	@media ($S) {
		margin-top: 80px;
	}
	.container {
		@media ($M) {
			padding: 0 !important;
		}
	}

	.tabs {
		position: relative;
		bottom: 20px;
		ol {
			position: relative;
			bottom: 20px;
			left: 15px;
			margin: 0;
			z-index: 10;
			list-style: none;
			@media ($XS) {
				bottom: 10px;
				margin-left: 0;
			}

			li {
				flex: 0 1 auto;
				width: 15px;
				height: 9px;
				margin: 0 2.5px 0;
				opacity: 0.35;
				background-color: #ffffff;
				cursor: pointer;
				&.active {
					opacity: 1;
					background-color: #f03333;
				}
			}
		}
	}
	.carousel {
		@media ($M) {
			.carousel-inner {
				min-width: 100%;
			}
		}
	}
	.carousel-inner {
		.carousel-item {
			min-height: 377px;
			background-size: cover;
			background-position: top center;
			a {
				text-decoration: none !important;
			}
			.message {
				color: #ffffff;
				padding-top: 20px !important;
				padding-bottom: 20px !important;
				h1 {
					width: 100%;
					margin: 60px 0 32px;
					font-weight: 500;
					font-size: 36px;

					@media ($XS) {
						margin: 37px 0 10px;
						font-size: 18px;
					}
				}
				div {
					min-width: 230px;
					line-height: 139%;
					margin: 0 0 auto;
					font-weight: 300;
					font-size: 18px;
					@media ($XL) {
						padding-bottom: 40px;
					}
					@media ($XS) {
						line-height: 131%;
						font-size: 13px;
					}
				}
			}
		}
	}
}
