//- includes/contacts.jade
.container
	.content.d-flex.flex-column.col-xl-9
		.cards.contacts
			.card
				.map
					img(src="assets/app/dest/images/map.png", alt="")
				.address.d-flex
					div
						div.
							115035, г. Москва, Кадашевская набережная, дом 26 
						div.
							Телефон: 8 (495) 664-39-74
						div.
							Эл. почта: <a href="mailto:info@icompliance.ru">info@icompliance.ru</a>
					div
						.callus_button
							img(src="assets/app/dest/images/button_call.svg", alt="")
							span Связаться с нами
							