//- includes/experts.jade
.container
		.content
			.col-12.d-flex.justify-content-center
				h1 Эксперты
			.col-12
				.cards.d-flex.flex-row.experts
					.card 
						.photo
							img(src="images/exp/egorova.png", alt="")
						.title Егорова Мария Александровна
						.description Доктор юридических наук, доцент
						.button Узнать больше
					.card 
						.photo
							img(src="images/exp/filimonov.png", alt="")
						.title Филимонов Андрей Александрович
						.description Кандидат экономических наук
						.button Узнать больше
					.card 
						.photo
							img(src="images/exp/chernyavskiy.png", alt="")
						.title Чернявский Александр Геннадьевич
						.description Доктор юридических наук, профессор
						.button Узнать больше
					.card 
						.photo
							img(src="images/exp/bandurin.png", alt="")
						.title Бандурин Александр Владимирович
						.description Доктор экономических наук, профессор
						.button Узнать больше