//- includes/footer.jade
footer.container-fluid.d-flex.flex-row
	.container.d-flex.justify-content-between.flex-wrap
		.logo
			img(src="assets/app/dest/images/logo_2.svg", alt="")
		.slogan.
			Общество с ограниченной ответственностью «Институт комплаенса» 
		.social.d-flex
			img(src="assets/app/dest/images/link_logo.svg", alt="")
		.info.d-flex.flex-column
			div 115035, г. Москва, Кадашевская набережная, дом 26 
			div Телефон: 8 (495) 664-39-74
			div Эл. почта: <a href="mailto:info@icompliance.ru">info@icompliance.ru</a>
		.madeby.d-flex.align-items-center
			span Сделано в
			img(src="assets/app/dest/images/toposlogo.svg", alt="")