//- includes/menu.jade
.burger 
ul.nav#menu
        each link in menu
                li.head
                        a(href='#')= link.title
                        ul.sub_nav
                                each sub in link
                                        li
                                                a= sub