// -include news.jade
.container
	.content.news.col-xl-12.col-md-10
		hr
		.d-flex.flex-row.justify-content-between.flex-wrap.w-100
			.header Новости и публикации
			a.news_all Все новости
		ul.news_list.d-flex.flex-wrap.flex-row
			li.item 
				.date 11 Января 2018
				.title.
					Антимонопольный комплаенс 
					в Российских реалиях 
					(Мигитко О.)
			li.item 
				.date 4 Февраля 2018
				.title.
					Потребность в эффективных комплаенс программах
			li.item 
				.date 2 Марта 2018
				.title.
					Президент РФ подписал указ «Об основных оаправлениях госполитики по развитию конкуренции»
			li.item 
				.date 23 Марта 2018
				.title.
					Антимонопольный комплаенс в США и Европе. По какому пути пойдет Россия? (Глубовкая Ю.) 

.container
	.content.news.news_page.col-xl-7.col-lg-10
		h1 Новости и публикации
		ul.news_list.d-flex.flex-row
			li.item 
				.info
					.category Новости
					.date 11 Января 2018
				.title.
					Потребность в эффективных комплаенс программах. Антимонопольный комплаенс 
					в Российских реалиях 
				hr
			li.item 
				.info
					.category Публикации
					.date 4 Февраля 2018
				.title.
					Президент РФ подписал указ  «Об основных оаправлениях госполитики по развитию конкуренции»
			li.item 
				.info
					.category Новости
					.date 11 Января 2018
				.title.
					Антимонопольный комплаенс 
					в Российских реалиях. Потребность в эффективных комплаенс программах
			li.item 
				.info
					.category Публикации
					.date 4 Февраля 2018
				.title.
					Потребность в эффективных комплаенс программах
			li.item 
				.info
					.category Новости
					.date 11 Января 2018
				.title.
					Антимонопольный комплаенс в Российских реалиях (Мигитко О.)
			li.item 
				.info
					.category Публикации
					.date 4 Февраля 2018
				.title.
					Потребность в эффективных комплаенс программах
		ul.pagination
			li.page-item
				a.page-link(href="#").active 1
			li.page-item
				a.page-link(href="#") 2
			li.page-item
				a.page-link(href="#") 3
			li.page-item
				a.page-link(href="#") ...
			li.page-item
				a.page-link(href="#") 99
