//- includes/quote.jade
.card.quote
	.header Экспертное мнение
	p.
		Наши Эксперты разработают и внедрят в Вашей организации проверенный опытом, научно-обоснованный комплаенс, с учетом актуальной правоприменительной практики контрольно-надзорных и судебных органов. 
		Опыт и знания наших Экспертов – в Вашем распоряжении.
	.footer
		.name Константин Константинопольский
		.degree Доктор наук