//- includes/slider.jade
.slider.container-fluid
	#carouselExampleIndicators.carousel.slide(data-ride="carousel").container
		.carousel-inner
			.carousel-item.active(style="background-image:url(images/slide_bg.png)")
				.message.container
					h1.col-12 Наши услуги
					p.col-10.col-sm-9.col-md-7.col-lg-5.
						Разработка антимонопольного 
						комплаенса, представительство 
						в ФАС России, защита по делам о 
						картелях, консультирование по 
						вопросам антимонопольного законодательства и т.д.
			.carousel-item(style="background-image:url(images/slide_bg.png)")
				.message.container
					h1.col-12 Наши услуги
					p.col-10.col-sm-9.col-md-7.col-lg-5.
						Разработка антимонопольного 
						комплаенса, представительство 
						в ФАС России, защита по делам о 
						картелях, консультирование по 
						вопросам антимонопольного законодательства и т.д.
			.carousel-item(style="background-image:url(images/slide_bg.png)")
				.message.container
					h1.col-12 Наши услуги
					p.col-10.col-sm-9.col-md-7.col-lg-5.
						Разработка антимонопольного 
						комплаенса, представительство 
						в ФАС России, защита по делам о 
						картелях, консультирование по 
						вопросам антимонопольного законодательства и т.д.

			.container.tabs
				ol.carousel-indicators.d-flex.flex-row.justify-content-start.col-12 
					li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
					li(data-target="#carouselExampleIndicators" data-slide-to="1")
					li(data-target="#carouselExampleIndicators" data-slide-to="2")
					li(data-target="#carouselExampleIndicators" data-slide-to="3")
					li(data-target="#carouselExampleIndicators" data-slide-to="4")
